   body{ margin: 0; font: 400 100%/1.4 'Open Sans',sans-serif; color: #555; }
   *{ box-sizing: border-box; }
   *::after,*::before{ box-sizing: border-box; }
   h1{ font-size: 2rem; }
   h2{ font-size: 1.4rem; color: #00919c; }
   h3{ font-size: 1.1rem; }
   p { font-size: 0.9rem; }
   ul{ padding:0; list-style-position: inside; }
   li{ font-size: 0.9rem; margin: 0; }
   
   
   .demoPage {
	 max-width: 80em;
	 margin: 0 auto;
	 padding: 0 1em;
   }
   .demoPage h1 {
	 font-size: 2rem;
	 margin-bottom: 1em;
	 text-align: center;
   }
   .demoPage h2 {
	 margin-top: 3em;
   }   
  
   section {
	 position: relative;
	 margin: 2em 0 6em;
   }   
   
   table {
	 width: 100%;
	 border-collapse: collapse;
   }
   table td,
   table th {
	 border: 1px solid rgba(147, 128, 108, 0.5);
	 padding: .5em;
   }
   .bs-callout,
   pre {
	 padding: 1.25em;
	 margin: 1.6em 0;
	 background: #fcfcfc;
	 border: 1px solid #e6e6e6;
	 border-left-width: 5px;
	 border-radius: 3px;
   }
   .bs-callout {
	 max-width: 100%;
	 overflow-x: auto;
	 border-color: #00919c;
   }
   pre {
	 overflow-x: auto;
	 font-size: .875em;
	 white-space: pre-wrap;
	 word-wrap: normal;
   }
   pre.doc {
	 border-color: ##00919c;
   }
   /**/
   .demo {
	 width: 100%;
	 background: #e4e4e3;
	 text-align: center;
   }
   .demo-left {
	 text-align: left;
   }
   .demo p {
	 margin: 0;
	 padding: 1rem;
   }
   @media screen and (max-width: 35.5em) {
	 .demo p {
	   padding: .5rem;
	 }
   }
   .demo-explain {
	 margin: 0;
	 padding: 0;
   }
   .demo img,
   .demo-card img {
	 display: block;
	 max-width: 100%;
	 height: auto;
   }
   .withBorder {
	 border: 1px solid #00919c;
   }
   .withBorder .col,
   .withBorder [class*='col-'] {
	 padding: 0;
   }
   .withBorder .demo {
	 border: 1px solid #00919c;
   }