@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }
  
@mixin t-font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@font-face{
	font-family:"Avenir LT Book";
	src:url("https://content.dimensional.com/media/fonts/9f6dfbe4-ae47-4f8e-b887-c99113fa09b1.woff2") format("woff2"),
		url("https://content.dimensional.com/media/fonts/a9d360f4-5161-43ab-8475-b46d159844f8.woff") format("woff");
}    
@font-face{
    font-family:"Avenir LT Black";
    src:url("https://content.dimensional.com/media/fonts/ad58244e-b79c-4260-a588-c4a890416979.woff2") format("woff2"),
		url("https://content.dimensional.com/media/fonts/0b167d86-9493-44ec-87e7-071d78b0dedc.woff") format("woff");
} 

:lang(ja) 	{
	font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ, Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif !important;
}

.t-italic {
    font-style: italic;
}
.t-uppercase {
    text-transform: uppercase;
}
.t-avenir {
    font-family: "Avenir LT Book";
}
.t-chronicle {
    font-family: "Chronicle Text G2 A", "Chronicle Text G2 B";
    @extend .t-italic;
}
.t-sentinel {
    font-family: "Sentinel A", "Sentinel B";
}

.t-heavy {
    font-family: "Avenir LT Black";
	text-rendering: optimizeLegibility;
	font-weight: normal;
}