// media query  variables
$screen-sm-min: 48rem;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 64remx;  // Small tablets (portrait view)
$screen-lg-min: 80rem;  // Tablets and small desktops
$screen-xl-min: 120rem; // Large tablets and desktops.v-example-variable 
$screen-xxl-min: 160rem; // 2k and up 